import React from 'react';
import { storiesOf } from '@storybook/react';
import { withKnobs, text as textAddOn, boolean as booleanAddOn, number, object as objectAddOn, array as arrayAddOn, select, radios, optionsKnob, files, date, button as buttonAddOn } from '@storybook/addon-knobs';


/**
 * Story Category
 * @param {String} categoryName - the tab name 
 * @param {NodeModule} module - no diea what this does? 
 */
const stories = storiesOf('@UiKit/Modal', module);
stories
    .add('basic', ()=>{
        return (<div>todo</div>)
    })