/** 
 * @class Board
 * @namespace components 
 * @description 
 * @author Nick Mitchell
 */
import React, { Fragment } from 'react';
import PropTypes from 'prop-types';

/**
 * @requires Components
 */
// import Other from './';

/**
 * @requires Assets
 */


/**
 * @param {TProperty} TProperty 
 */
type TProperty = {
    item?: any,
    style?: any 
}
/**
 * @param {TState} TState
 */
type TState = {

}

/**
 * Board 
 *
 * @class Board
 * @extends {React.Component<TProperty, TState>}
 */
class Board extends React.Component<TProperty, TState> {

    /**
     * @param {PropTypes} propTypes - property types to check at run time 
     */
    static propTypes = {
        
    }

    /**
     * Render the Board 
     *
     * @returns {JSX} component 
     * @memberof Board
     */
    render() {

        return (
            <div></div>
        );
    }

}

export default Board;
