                                {/* This will allow the other draggables to reposition themselves to allow a gap for the card we are dragging  */}
                                {provided.placeholder}
                            </div>
                        )
                    }}
                </Droppable>
